<nav class="navbar navbar-fixed-top" role="navigation" style="background-color:#32495c;">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a href="/home/post">공지사항</a> |
              <% if user_signed_in? %>
                <%= current_user.email   %>님 |
                <a href="/home/mypage/<%= current_user.id %>" method="post">마이페이지</a> |
                <%= link_to('로그아웃', destroy_user_session_path, :method => :get) %>  
              <% else %>
                <%= link_to('로그인', new_user_session_path)  %>  
              <% end %>       
          </div>
        </div>
        
        
</nav>
</br>
</br>

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>


<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :이름 %><br />
    <%= f.text_field :name,  autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :핸드폰번호 %><br />
    <%= f.number_field :phone,  autocomplete: "off" %>
  </div>
  
  

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
