<nav class="navbar navbar-fixed-top" role="navigation" style="background-color:#32495c;">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a href="/home/app_post">공지사항</a> |
              <% if user_signed_in? %>
                <%= current_user.email   %>님 |
                <a href="/home/app_mypage/<%= current_user.id %>" method="post">마이페이지</a> |
                <%= link_to('로그아웃', destroy_user_session_path, :method => :get) %>  
              <% else %>
                <%= link_to('로그인', new_user_session_path)  %>  
              <% end %>       
          </div>
        </div>
        
        
</nav>
</br>
</br>

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/app_index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>
<div class="row" >
  <div class="col-md-2 "></div>
  <div class="col-md-4" >
    <div class="mypage-box">
    <%= @c_user.email %></br>
    <%= @c_user.name %></br>
    <%= @c_user.phone %></br>
    
    <a href="/users/edit">회원정보수정</a>
    </div>
  </div>
  <div class="col-md-4 " >
    <div class="mypage-box">
      *현재 번호표*</br>
     
    <form method="post" >
      <% @nticket2.each do |n| %>
        <% @com = Company.where(:id => n.company_id)[0].id %>
        <%= Company.where(:id => n.company_id)[0].name %>
        <%= (n.created_at+32400).strftime("%H:%M:%S") %>
        <%= n.ticketnumber %>번
        남은인원:<%= n.ticketnumber-Nticket.where(:company_id => @com)[0].ticketnumber%>명  
        <input type="hidden" name="company_id" id="nt_company_id">
        <% if n.ticketnumber-Nticket.where(:company_id => @com)[0].ticketnumber > 4 %>
          <button type="submit" value="<%= Company.where(:id => n.company_id)[0].id %>" class="btn btn-default nticket_c">취소</button>
         <% end %>
        </br>
      <% end %>
      </form></br></br>
       <span style="color:red;">남은인원이 4명 이하일 때는 취소되지 않습니다.</span></br>
      </div>
      
  
    </div>
  </div>
  <div class="col-md-2 "></div>
</div></br>
<div class="row">
  <div class="col-md-2 "></div>
  <div class="col-md-8 ">
    <div class="mypage-box">
      
        <% @reservation.each do |r| %>
        <% if r.confirm_num.to_s == "1" %>
          <% @a = "대기중 " %>
        <% elsif r.confirm_num.to_s == "2" %>
          <% @a = "승인" %>
        <% else %>
          <% @a ="거절" %>
        <% end %>
        
          <%= Company.find_by_id(r.company_id).name %>  <%= r.reserve_date %>  <%= r.reserve_time %>  <%= @a %>  <%= r.comment %></br>
        
        <% end %>
        </br></br>
        <span style="color:red;">예약은 취소되지 않습니다.</span></br>
      </div>
      </div>
      <div class="col-md-2 "></div>
</div>
<script>


$(function() {
  $(".nticket_c").click(function(){
    nticket_val =  this.value;
      $.ajax({
        method: "POST",
        url: "/home/nticket_cancel",
        data: { nticket_val: nticket_val },
        success:function(){
              alert("취소되었습니다.");
              //document.location.reload(); 
             // $("#reply_"+board_id).append("<p>"+content+"</p>");
          },
          error:function(){
              alert("취소되지않았습니다.");
          }
      })
       
  })
});

 
</script>