<nav class="navbar navbar-fixed-top" role="navigation" style="background-color:#32495c;">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a href="/home/app_post">공지사항</a> |
              <% if user_signed_in? %>
                <%= current_user.email   %>님 |
                <a href="/home/app_mypage/<%= current_user.id %>" method="post">마이페이지</a> |
                <%= link_to('로그아웃', destroy_user_session_path, :method => :get) %>  
              <% else %>
                <%= link_to('로그인', new_user_session_path)  %>  
              <% end %>       
          </div>
        </div>
        
        
</nav>
</br>
</br>

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/app_index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>

<!--
<select class="form-control" onchange="location.href=this.value"  style="cursor:pointer">
    <option value=""></option>
    <% @sort.each do |s| %>
        <option value="/home/sort_p/<%= s.id %>"><%=s.name %></option>
    <% end %>
</select>

<% @company.each do |c| %>
  <a href="/home/company_p/<%=c.id %>"><%= c.name %></a></br>
<% end %>


-->


<div class="row" style="width:100%; margin: 0 auto; ">
    <div class="col-md-4 col-xs-2 col-sm-1"></div>
    <div class="col-md-4 col-xs-8 col-sm-10">

        <form class="searchbox" action="/home/app_search" method="post">
            <div class="search">
                <input type="text" id="searchb" name="search" placeholder="    업소명을 입력해주세요.">
                <span><button type="image" id="searchimg" src="/image/search.png"><img src="/image/search.png"></button></span>     
            </div>
        </form>
    </div>  
    <div class="col-md-4 col-xs-2 col-sm-1"></div>

</div>

<div class="row" id="sort_p">
    <div class="col-sm-4 portfolio-item">
      <a href="/home/app_sort_p/1"><span data-tooltip-text="병원"><img src="/image/hospital.png"></span></a>
    </div>
    <div class="col-sm-4 portfolio-item">
      <a href="/home/app_sort_p/2"><span data-tooltip-text="음식점"><img src="/image/restaurant.png"></span></a>
    </div>
    <div class="col-sm-4 portfolio-item">
      <a href="/home/app_sort_p/3"><span data-tooltip-text="미용실"><img src="/image/hair.png"></span></a>
    </div>

</div>


</br></br></br>
<a href="/home/admin">관리자페이지</a>


