<nav class="navbar navbar-fixed-top" role="navigation" style="background-color:#32495c;">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a href="/home/post">공지사항</a> |
              <% if user_signed_in? %>
                <%= current_user.email   %>님 |
                <a href="/home/mypage/<%= current_user.id %>" method="post">마이페이지</a> |
                <%= link_to('로그아웃', destroy_user_session_path, :method => :get) %>  
              <% else %>
                <%= link_to('로그인', new_user_session_path)  %>  
              <% end %>       
          </div>
        </div>
        
        
</nav>
</br>
</br>

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>


<div class="row" >
  <div class="col-md-2 col-xs-1 col-sm-1"></div>
  <div class="col-md-8 col-xs-10 col-sm-10" >
    <div class="merong">
      <a href="/home/index">홈</a> > <a href="/home/sort_p/<%=@sort.id %>"><%= @sort.name %></a>
    </div></br>
    <div class="company-name-box">
      <span id="name"><%= @company_p.name %></span><span id="caddress">| <%= @company_p.c_address %></span>
      <% if @company_p.openclose == 1 %>
        <span id="caddress"style="float:right; padding-right: 10px;">OPEN</span>
      <% else %>
        <span id="caddress"style="float:right; padding-right: 10px;">CLOSE</span>
      <% end %>
    </div>
  </div>
  <div class="col-md-2 col-xs-1 col-sm-1"></div>
</div>




<div class="row" >
  <div class="col-md-2 "></div>
  <div class="col-md-5" >
    <div class="company-content-box">
      
      <div class="row" >
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10" >
          <form method="post" action="/home/nticket" id="nticketsumbit">
            <div class="form-group">
              <input type="hidden" class="form-control" value="<%= @company_p.id %>" name="company_id">
            </div>
            <div class="ticket-box">
              <span>*번호표는 중복해서 뽑을 수 없습니다.*</span></br>
              <% if @company_p.openclose == 1 %>
                  <% if user_signed_in? %>
                    <% if @nticket3 < 1 %>
                    <button type="image" ><img src="/image/ticket.png"></button>
                    <% else %>
                    <button type="image" disabled='disabled' ><img src="/image/no_ticket.png" style="opacity:0.5;"></button>
                    <% end %>
                  <% else %>
                    로그인 후에 이용 가능합니다.</br>
                    <button type="image" disabled='disabled' ><img src="/image/no_ticket.png"style="opacity:0.5;"></button>
                  <% end %>
              <% else %>
                현재 오픈시간이 아니므로 번호표 서비스를 이용할 수 없습니다.
                 <button type="image" disabled='disabled' ><img src="/image/no_ticket.png"style="opacity:0.5;"></button>

              <% end %>
              </br>
              대기인원 : <%= @nticket.length %></br>
              <div class="ticket-people">
              
              *대기자*</br>
              <div class="ticket-people2">
              <% @nticket.each do |n| %>
                <% @user.each do |u| %>
                  <% if u.id == n.user_id %>
                   <%= n.ticketnumber %>번 <%=  u.name %></br>
                  <% end %>
                <% end %>
              <% end %>
              </div></br>
               <% if user_signed_in? %>
                 <% if @reservation2 > 0  %>
                  <a >예약하기</a></br>
                 <% else%>
                  <a href="/home/reservation/<%= @company_p.id %>">예약하기</a></br>
                 <% end %>
              <% else %>
                  <a >예약하기</a></br>
               <% end %>

              <span style="color:red;">당일 예약은 불가능 합니다. 전날까지만 가능합니다.</span></br>
              <span style="color:red;">예약은 취소되지 않습니다.</span></br>
              </br></br></br></br></br></br>
            </div>
          </form>
        </div>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
          <div class="company-address-box">
              <img src="/image/street.png">주소<img src="/image/street.png"></br>
              <%= @company_p.c_postcode %></br>
              <%= @company_p.c_address %></br>
              <%= @company_p.c_daddress %></br></br>
              <img src="/image/tel.png">전화번호<img src="/image/tel.png"></br>
              <%= @company_p.tel %></br></br>
              <img src="/image/open.png">영업시간<img src="/image/closed.png"></br>
              <%= @company_p.opentime %> ~ <%= @company_p.closetime %></br></br>
              
              <img src="/image/map.png">지도<img src="/image/map.png"></br>
              <div id="map-canvas" style="width:200px; height: 200px" title="도서관 위치입니다."></div> 

          </div>
    </div>
    <div class="col-md-2 "></div>
  </div>
    
 
 <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
<script>
      var caddress = $("#caddress").text();

 function initialize() {
        var mapOptions = {
                            zoom: 17, // 지도를 띄웠을 때의 줌 크기
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
         
         
        var map = new google.maps.Map(document.getElementById("map-canvas"), // div의 id과 값이 같아야 함. "map-canvas"
                                    mapOptions);
         
        var size_x = 40; // 마커로 사용할 이미지의 가로 크기
        var size_y = 40; // 마커로 사용할 이미지의 세로 크기
     
        // 마커로 사용할 이미지 주소
        var image = new google.maps.MarkerImage( '주소 여기에 기입!',
                                                    new google.maps.Size(size_x, size_y),
                                                    '',
                                                    '',
                                                    new google.maps.Size(size_x, size_y));
         
        // Geocoding *****************************************************
        var address = caddress; // DB에서 주소 가져와서 검색하거나 왼쪽과 같이 주소를 바로 코딩.
        var marker = null;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                                map: map,
                                icon: image, // 마커로 사용할 이미지(변수)
                                title: '한밭도서관', // 마커에 마우스 포인트를 갖다댔을 때 뜨는 타이틀
                                position: results[0].geometry.location
                            });
 
                var content = "한밭도서관<br/><br/>Tel: 042-580-4114"; // 말풍선 안에 들어갈 내용
             
                // 마커를 클릭했을 때의 이벤트. 말풍선 뿅~
                var infowindow = new google.maps.InfoWindow({ content: content});
                google.maps.event.addListener(marker, "click", function() {infowindow.open(map,marker);});
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
        // Geocoding // *****************************************************
         
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    
    $('#nticketsumbit').submit(function() {
    var c = confirm("번호표를 뽑겠습니까?");
    return c; //you can just return c because it will be true or false
});
</script>
