<nav class="navbar navbar-fixed-top" role="navigation" style="background-color:#32495c;">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a href="/home/post">공지사항</a> |
              <% if user_signed_in? %>
                <%= current_user.email   %>님 |
                <a href="/home/mypage/<%= current_user.id %>" method="post">마이페이지</a> |
                <%= link_to('로그아웃', destroy_user_session_path, :method => :get) %>  
              <% else %>
                <%= link_to('로그인', new_user_session_path)  %>  
              <% end %>       
          </div>
        </div>
        
        
</nav>
</br>
</br>

<br><br>

<div style="text-align:center;" class="logo">
    </br>
    </br>
    <a href="/home/index"><img src="/image/gggg.png"></a>
    </br>
    </br>
    <br><br>
</div>

<h2><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
